# mod_rewrite starts here
RewriteEngine On

# Does not apply to existing directories; if the folder exists on the server, do not change anything and do not run the rule
RewriteCond %{REQUEST_FILENAME} !-d

# Check for file in directory with .html extension
RewriteCond %{REQUEST_FILENAME}\.html -f

# Show the page that has the .html extension
RewriteRule ^(.*)$ $1.html [NC,L]
