@font-face {
  font-family: "Neue Montreal Regular";
  src: url(NeueMontreal-Regular.woff2), url(NeueMontreal-Regular.woff);
}

@font-face {
  font-family: "Neue Montreal Italic";
  src: url(NeueMontreal-Italic.woff2), url(NeueMontreal-Italic.woff);
}

body {
  font-family: "Neue Montreal Regular", Arial;
  font-size: 0.938rem;
  line-height: 1.3;
  color: #fff;
  background-color: #000;
  /* padding: 7.5rem 1.25rem 7.5rem 1.25rem; */
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 1.25rem;
}

body.open {
  overflow-y: auto;
}

a {
  color: #fff;
  text-decoration: none;
}

hr {
  margin: 0;
  border-width: 0;
  height: 1px;
  background-color: #fff;
}

img,
video {
  max-width: 100%;
  display: block;
}

header,
footer {
  position: fixed;
  z-index: 3;
  width: 100%;
}

header {
  top: 0;
  left: 0;
  padding: 1.25rem 1.25rem 0 1.25rem;
}

footer {
  bottom: 0;
  left: 0;
  padding: 0 1.25rem 1.25rem 1.25rem;
}

footer.open {
  display: none;
}

.back-to-top {
  display: none;
}

.header-container__child:last-child {
  margin-left: 1.25rem;
}

.header-container,
.footer-container {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
}

.header-container__child {
  flex: 50%;
}

.header-container__child--right {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
}

.index {
  position: relative;
  z-index: 1;
}

.project-description {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.project-description:not(:last-child) {
  margin-bottom: 1.25rem;
}

.project-link {
  flex: 2;
}

.year,
.type {
  flex: 1;
}

.type {
  text-align: right;
}

.gallery {
  grid-column: 2 / span 1;
}

.thumbnail,
.thumbnail img,
.gallery__image {
  display: block;
  margin: 0 auto 0 auto;
}

.thumbnail:not(:last-child),
.gallery__image:not(:last-child) {
  padding-bottom: 1.25rem;
}

.project-info,
.about {
  margin-bottom: 2.75rem;
}

.header-mobile {
  display: none;
}

.mobile-menu {
  position: relative;
  z-index: 2;
  background-color: #000;
  display: none;
  grid-column: 1 / span 2;
}

.mobile-menu.open {
  display: block;
}

.menu-button.open {
  border-bottom: 0.0625rem solid #fff;
}

.menu-item {
  display: block;
  width: 100%;
  padding: 0.325rem 0 0.325rem 0;
}

.menu-item--select-works,
.menu-item--about {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.menu-item--project {
  padding-left: 1.25rem;
}

.projects-dropdown {
  display: none;
}

.projects-dropdown.open {
  display: block;
}

.projects-toggle-icon,
.about-toggle-icon {
  width: 0.75rem;
}

.mobile-about-section {
  padding: 1.75rem 0 2.5rem 0;
  display: none;
}

.mobile-about-section.toggled {
  display: block;
}


.medium {
  margin-bottom: 0.3rem;
}

.subtitle {
  font-family: "Neue Montreal Italic";
  margin-bottom: 0.3rem;
}

.project-description--current {
  margin-bottom: 0.75rem;
}

.project-description--not-current,
.project-link__not-current {
  color: rgba(255, 255, 255, 0.3);
}

.link {
  color: #fff;
  background-color: #000;
  border-bottom: 0.0625rem solid #fff;
  transition: color 0.2s, background-color 0.2s, border-bottom 0.2s;
}

.link:hover {
  color: #000;
  background-color: #fff;
  border-bottom: 0.0625rem solid #fff;
}



.about__info__introduction:not(:last-child) {
  margin-bottom: 0.5rem;
}

.about__info:not(:last-child) {
  margin-bottom: 1.25rem;
}

.about__info--flex {
  display: flex;
  flex-direction: row;
}

.about__info--flex__children {
  flex: 1;
}



@media (min-width: 841px) {
  .wrapper {
    height: 100vh;
    overflow-y: scroll;
    padding: 7.5rem 0;
  }

  .wrapper::-webkit-scrollbar {
    display: none;
  }

  .wrapper {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }

  .wrapper--left {
    padding-left: 1.25rem;
  }

  .wrapper--right {
    padding-right: 1.25rem;
  }
}



@keyframes fadeout {
  from { color: #fff; }
  to { color: rgba(255, 255, 255, 0.3); }
}

@keyframes fadein {
  from { color: rgba(255, 255, 255, 0.3); }
  to { color: #fff; }
}



@media (max-width: 960px) {
  .year {
    display: none;
  }

  .about__info--flex {
    flex-direction: column;
  }

  .about__info--flex__children:not(:last-child) {
    margin-bottom: 0.75rem;
  }
}



@media (max-width: 840px) {
  .header-desktop,
  .instagram,
  .index,
  .project-description--not-current,
  .about {
    display: none;
  }

  .header-mobile {
    display: block;
  }

  .back-to-top {
    display: block;
  }

  .wrapper--right {
    grid-column: 1 / span 2;
  }

  body {
    font-size: 0.875rem;
    padding: 5rem 0.75rem 2.5rem 0.75rem;
  }

  header {
    padding: 1.25rem 0.75rem 0 0.75rem;
  }

  footer {
    position: relative;
    padding: 2.5rem 0 0 0;
  }

  .index--current {
    display: block;
    position: relative;
    z-index: 1;
    width: 100%;
  }

  .wrapper--left {
    grid-column: 1 / span 2;
  }

  .project-link {
    flex: 1;
  }

  .project-info {
    margin-bottom: 1.25rem;
  }

  .mobile-about-section {
    padding: 0.75rem 0 1.5rem 0;
  }
}
