@import url("https://use.typekit.net/uxn5ekk.css");

html, body {
    height: 100%;
}

body {
    font-family: "neue-haas-unica", sans-serif;
    font-weight: 500;
    font-style: normal;
    line-height: 120%;
    font-size: 14px;
    color: #000000;
    background-color: #ffffff;
}

a {
    color: #000000;
    text-decoration: none;
    transition: color 0.3s;
}

a:hover {
    color: #0000ff;
}

::selection {
    color: #0000ff;
}

::-moz-selection {
    color: #0000ff;
}

.main {
    display: flex;
    padding: 12px 120px 12px 16px;
}

header {
    flex: 1;
}

.personal-bio {
    max-width: 392px;
    margin-right: 120px;
}

.clients-and-services {
    display: flex;
    flex: 1;
    gap: 120px;
    justify-content: flex-end;
}

footer {
    position: absolute;
    bottom: 0px;
    left: 0px;
    padding: 0px 16px 14px 16px;
}

nav {
    display: flex;
    gap: 80px;
    margin-top: 12px;
}



@media (max-width: 1152px) {
    .main {
        padding: 12px 80px 12px 16px;
    }

    .personal-bio {
        margin-right: 80px;
    }

    .clients-and-services {
        gap: 80px;
    }
}

@media (max-width: 1032px) {
    .main {
        padding: 12px 16px 12px 16px;
    }
}

@media (max-width: 968px) or (min-width: 1513px) {
    .main {
        flex-direction: column;
        gap: 32px;
    }

    .clients-and-services {
        justify-content: flex-start;
        flex-direction: column;
        gap: 32px;
    }

    .personal-bio {
        margin-right: 0px;
    }
}

@media (max-width: 509px) {
    .main {
        padding: 12px 16px 32px 16px;
    }

    footer {
        position: static;
    }
    
    nav {
        flex-direction: column;
        margin-top: 10px;
        gap: 10px;
    }
}

@media (510px <= width <= 968px) and (max-height: 558px) {
    .main {
        flex-direction: column;
        gap: 32px;
        padding: 12px 16px 32px 16px;
    }

    .clients-and-services {
        justify-content: flex-start;
        flex-direction: column;
        gap: 32px;
    }

    .personal-bio {
        margin-right: 0px;
    }

    footer {
        position: static;
    }

    nav {
        flex-direction: column;
        margin-top: 10px;
        gap: 10px;
    }
}

@media (min-width: 1513px) and (max-height: 558px) {
    .main {
        padding: 12px 16px 32px 16px;
    }

    .clients-and-services {
        gap: 32px;
    }

    footer {
        position: static;
    }

    nav {
        flex-direction: column;
        margin-top: 10px;
        gap: 10px;
    }
}

/* No runt in personal bio on mobile */
@media (max-width: 420px) {
    .personal-bio {
        max-width: 348px;
    }
}